* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
    height: 55rem;
    width: 317px;
}

:root {
    ---color: #000000;
    ---color1 :  blue;
    ---color2: rgb(255, 0, 0);
    ---color3:  rgb(3, 3, 61);
    ---color4: #E66100;
    ---color5: #ffffff;
    ---color6:  rgb(0, 255, 26);
    ---color7: rgb(5, 5, 97);
    ---color8: brown;
}