#root {
    margin: auto;
    background-color: var(---color);

}

.recorrido {
    list-style: none;
    width: 100%;
    height: 14rem;
    background-color: var(---color);
    padding: 1rem;
    color: var(---color5);

    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    
}

.recorrido li {
    width: 100%;
    font-size: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.equal-sign {
    color: var(---color1);
    justify-self: center;

}

.resultado {
    font-weight: 300;
    justify-self: right;
}

.show-pantalla {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    height: 6.5rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 1rem;


    background-color: var(---color5);
    color: var(---color);
}

.teclado {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5,7.5rem);
    gap: 0.4rem;
    padding: 1rem;

    margin-top: 3rem;
}

.key_item {
    background-color: var(--skyblue);
    border-radius: 1rem;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: var(---color4);
    color: var(---color5);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.delete {
    width: 20%;
}




.key_item:hover {
    font-weight: 800;
    background-color: blueviolet;
}
.key_item_tipo1 {
    background-color: var(---color3);
}
.key_item_tipo1:hover {
    background-color: var(---color7);
}
.key_item_0 {
    background-color: var(---color2);

    grid-column-start: 1;
    grid-column-end: 3;
}
.key_item_0:hover {
    background-color: var(---color8);
}

